@import '~variables'

.home
  height: 822px
  background: url('~assets/img/bg-main.jpg')
  background-repeat: no-repeat
  background-size: cover
  .sign-in
    //width: 776px
    //height: 464px
    .sign-in-content
      //height: 404px
      padding 40px 36px 30px 30px
      .description
        line-height:34px
        margin-bottom 38px
      .sign-in-field
        margin-bottom: 40px
        .q-input-target
          font-size: 28px
          color: #2E2E2E
          height: 38px
          line-height: 38px
        .btn-forgot
          width: 65px
          padding 3px 6px
          border-radius: 2px
          .q-btn-inner
            font-size: 13px
            font-weight: 700
            line-height: 18px
      .btn-sign-in
        width: 131px
      .btn-back
        width: 103px
      .btn-send
        width: 209px


  .btn-main
    .q-btn-inner
      font-size: 26px
      line-height: 36px
